/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {

}

.session-data {
  position: fixed;
  right: 5px;
  top: 5px;
}

ul {

  li {

    div {
      display: inline-block;
    }

    a {
      display: inline-block;
    }
  }

}

div.new-wish-form {
/*  display: block;
  float: left;
  clear: left;
*/
}

.ui-sortable {
  li {
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
  }
}