// Place all the styles related to the WishList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.cancelled-wishes {
  li {
    
    // &:hover { cursor: -moz-grab; }
    // &:active { cursor: -moz-grabbing; }

    div.wish-name { 
      text-decoration: line-through;
      color: gray;
      cursor: inherit;
    }
    a {text-decoration: none;}
  }
}